@page "/"
@using Business.Classes;
@inject BookingProcessor bp


<header>
    <h1 class="display-6 m-5 mx-0 text-start">Welcome to Car Rental booking!</h1>
</header>

<section class="container-fluid">
    @if (bp.error != string.Empty)
    {
        <div class="alert alert-danger"><strong>Error </strong>- @bp.error</div>
    }
    <!--Customers-->
    <div class="row">
        <table class="tab3 table caption-top table-hover">
            <caption>Customers</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="">SSN</th>
                    <th scope="col"class="">Last name</th>
                    <th scope="col" class="">First name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input @bind="bp._in.c.SSN" type="text" class="form-control customer" placeholder="SSN" /></td>
                    <td><input @bind="bp._in.c.LastName" type="text" class="form-control customer" placeholder="Last Name" /></td>
                    <td>
                        <input @bind="bp._in.c.FirstName" type="text" class="form-control customer firstname" placeholder="First Name" />
                        <button type="button" class="btn customer ml-auto  btn-outline-success" @onclick="(() => bp.AddCustomer(bp._in.c.SSN, bp._in.c.LastName, bp._in.c.FirstName))">Add</button>
                    </td>
                </tr>
                @foreach (var person in bp.GetCustomers())
                {
                    <tr>
                        <td class="fw-bold">@person.SSN</td>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Vehicles-->
    <div class="row">
        <table class="tab1 table table-hover table-borderless caption-top">
            <caption>Vehicles</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col">RegNo</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Odometer</th>
                    <th scope="col">Cost km</th>
                    <th scope="col">Vehicle type</th>
                    <th scope="col">Daily cost</th>
                    <th scope="col">Action</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (!bp.processing)
                    {
                        <td><input @bind="bp._in.v.RegNo" type="text" class="form-control vehicle" placeholder="RegNo" /></td>
                        <td><input @bind="bp._in.v.Brand" type="text" class="form-control vehicle" placeholder="Brand" /></td>
                        <td><input @bind="bp._in.v.Odometer" type="text" class="form-control vehicle" placeholder="" /></td>
                        <td><input @bind="bp._in.v.CostKm" type="text" class="form-control vehicle" placeholder="" /></td>
                    }
                    else
                    {
                        <td><input @bind="bp._in.v.RegNo" type="text" class="form-control vehicle" placeholder="RegNo" disabled /></td>
                        <td><input @bind="bp._in.v.Brand" type="text" class="form-control vehicle" placeholder="Brand" disabled /></td>
                        <td><input @bind="bp._in.v.Odometer" type="text" class="form-control vehicle" placeholder="" disabled /></td>
                        <td><input @bind="bp._in.v.CostKm" type="text" class="form-control vehicle" placeholder="" disabled /></td>
                    }
                    <td>
                        @if (!bp.processing)
                        {
                            <select class="form-select vehicletype" @bind="bp._in.vehicletype">
                                <option selected hidden value="">Choose vehicle</option>
                                @foreach (var typename in bp.VehicleTypeNames)
                                {
                                    <option value="@typename">@typename</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-select vehicletype" disabled @bind="bp._in.vehicletype"></select>
                        }
                    </td>
                    <td class="dailycost"></td>
                    <td>
                        <button type="button" class="btn add btn-outline-success d-flex @((!bp.processing) ? " " : "disabled")" @onclick=" (() =>
                            bp.AddVehicle(bp._in.v.RegNo, bp._in.v.Brand, bp._in.v.Odometer, bp._in.v.CostKm, bp._in.vehicletype, bp._in.v.Status))">
                            Add
                        </button>
                    </td>
                    <td>
                            <button type="button" class="btn processing btn-success position-relative
                                badge border-0 rounded-pill text-bg-warning" style="visibility:@((!bp.processing) ? "hidden" : "visible")">
                                Processing
                            </button>
                    </td>
                </tr>
                @foreach (var vehicle in bp.GetVehicles())
                {
                    <tr>
                        <td class="fw-bold">@vehicle.RegNo</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Odometer</td>
                        <td>@vehicle.CostKm</td>
                        <td>@vehicle.VType</td>
                        <td>@vehicle.DailyCost</td>
                        <td>
                            @if (vehicle.Status.Equals(bp._in.vehicleStatus))
                            {
                                @if (!bp.processing)
                                {
                                    <select class="form-select rentingcustomer" @bind="bp._in.customer">
                                        <option selected hidden value="">Choose customer</option>
                                        @foreach (var customer in bp.GetCustomers())
                                        {
                                            <option value="@customer.Id">@customer.FullName</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-select rentingcustomer" disabled @bind="bp._in.customer"></select>
                                }

                                <button type="button" class="btn rent btn-outline-primary @((!bp.processing) ? " " : "disabled")"
                                @onclick=" async ()=> await bp.RentVehicle(vehicle.Id, bp._in.c.Id)">Rent</button>
                            }
                            else
                            {
                                @if (!bp.processing)
                                {
                                    <input @bind="bp._distance" type="text" class="form-control distance" placeholder="Distance" />
                                }
                                else
                                {
                                    <input @bind="bp._distance" type="text" class="form-control distance" placeholder="Distance" disabled/>
                                }

                                <button type="button" class="btn return btn-outline-success @((!bp.processing) ? " " : "disabled")"
                                @onclick="() => bp.ReturnVehicle(vehicle.Id, bp._distance)">Return</button>
                            }

                        </td>
                        <td>
                            <button type="button" class="btn status btn-success position-relative
                                badge border-0 rounded-pill text-bg-@(vehicle.Status.Equals(bp._in.vehicleStatus) ? "success" : "danger")">
                                @vehicle.Status
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Bookings-->
    <div class="row">
        <table class="tab2 table caption-top table-hover">
            <caption>Bookings</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col">RegNo</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start km</th>
                    <th scope="col">Returned km</th>
                    <th scope="col">Rental Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in bp.GetBookings())
                {
                    <tr>
                        <th class="fw-bold">@booking.Vehicle?.RegNo</th>
                        <td>@booking.Person?.FullName</td>
                        <td>
                            @if (booking.Status.Equals(bp._in.vehicleStatus))
                                    @booking.StartKm
                            else    @booking.Vehicle?.Odometer
                        </td>
                        <td>@booking.ReturnedKm</td>
                        <td>@booking.RentalDate.ToString("dd'/'MM'/'yyyy")</td>
                        <td>@booking.ReturnDate?.ToString("dd'/'MM'/'yyyy")</td>
                        <td>@booking.Cost</td>
                        <td>
                            <button type="button" class="btn booking btn-sm position-relative
                                btn-@(booking.Status.Equals(bp._in.vehicleStatus) ? "success" : "primary")">
                                @(booking.Status.Equals(bp._in.vehicleStatus) ? "Returned" : "Open")
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
