@page "/"
@using Business.Classes;
@inject BookingProcessor bp

<header>
    <h1 class="display-6 m-5 mx-0 text-center">Welcome to Car Rental booking!</h1>
</header>

<section class="container">
    @if (bp.error != string.Empty)
    {
        <div class="alert alert-danger"><strong>Error </strong>- @bp.error</div>
    }
    <!--Customers-->
    <div class="row">
        <table class="tab3 table caption-top table-hover">
            <caption>Customers</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="">SSN</th>
                    <th scope="col"class="">Last name</th>
                    <th scope="col" class="">First name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input @bind="bp.ssn" type="text" class="form-control customer" placeholder="SSN" /></td>
                    <td><input @bind="bp.lastname" type="text" class="form-control customer" placeholder="Last Name" /></td>
                    <td class="d-flex justify-content-between align-items-center">
                        <input @bind="bp.firstname" type="text" class="form-control customer firstname" placeholder="First Name" />
                        <button type="button" class="btn customer ml-auto  btn-outline-success" @onclick="(() => bp.AddCustomer(bp.ssn, bp.lastname, bp.firstname))">Add</button>
                    </td>
                </tr>
                @foreach (var person in bp.GetCustomers())
                {
                    <tr>
                        <td class="fw-bold">@person.SSN</td>
                        <td>@person.LastName</td>
                        <td>@person.FirstName</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Vehicles-->
    <div class="row">
        <table class="tab1 table table-hover table-borderless caption-top">
            <caption>Vehicles</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col">RegNo</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Odometer</th>
                    <th scope="col">Cost km</th>
                    <th scope="col">Vehicle type</th>
                    <th scope="col">Daily cost</th>
                    <th scope="col">Action</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (!bp.processing)
                    {
                        <td><input @bind="bp.regno" type="text" class="form-control vehicle" placeholder="RegNo" /></td>
                        <td><input @bind="bp.brand" type="text" class="form-control vehicle" placeholder="Brand" /></td>
                        <td><input @bind="bp.odometer" type="text" class="form-control vehicle" placeholder=""/></td>
                        <td><input @bind="bp.costkm" type="text" class="form-control vehicle" placeholder="" /></td>
                    }
                    else
                    {
                    <td><input @bind="bp.regno" type="text" class="form-control vehicle" placeholder="RegNo" disabled /></td>
                    <td><input @bind="bp.brand" type="text" class="form-control vehicle" placeholder="Brand" disabled /></td>
                    <td><input @bind="bp.odometer" type="text" class="form-control vehicle" placeholder="" disabled /></td>
                    <td><input @bind="bp.costkm" type="text" class="form-control vehicle" placeholder="" disabled /></td>
                    }
                    <td>
                        @if (!bp.processing)
                        {
                            <select class="form-select vehicletype" @bind="bp.vehicletype">
                                <option selected hidden value="">Choose vehicle</option>
                                @foreach (var typename in bp.VehicleTypeNames)
                                {
                                    <option value="@typename">@typename</option>
                                }
                            </select>
                        }
                        else
                        {
                            <select class="form-select vehicletype" disabled @bind="bp.vehicletype"></select>
                        }
                    </td>
                    <td class="dailycost"></td>
                    <td>
                        <button type="button" class="btn add btn-outline-success d-flex @((!bp.processing) ? " " : "disabled")" @onclick=" (() =>
                            bp.AddVehicle(bp.regno, bp.brand, bp.odometer, bp.costkm, bp.vehicletype, bp.vehicleStatus))">Add</button>
                    </td>
                    <td>
                            <button type="button" class="btn processing btn-success position-relative
                                badge border-0 rounded-pill text-bg-warning" style="visibility:@((!bp.processing) ? "hidden" : "visible")">
                                Processing
                            </button>
                    </td>
                </tr>
                @foreach (var vehicle in bp.GetVehicles())
                {
                    <tr>
                        <td class="fw-bold">@vehicle.RegNo</td>
                        <td>@vehicle.Brand</td>
                        <td>@vehicle.Odometer</td>
                        <td>@vehicle.CostKm</td>
                        <td>@vehicle.VType</td>
                        <td>@vehicle.DailyCost</td>
                        <td>
                            @if (vehicle.Status.Equals(bp.vehicleStatus))
                            {
                                @if (!bp.processing)
                                {
                                    <select class="form-select rentingcustomer" @bind="bp.customer">
                                        <option selected hidden value="">Choose customer</option>
                                        @foreach (var customer in bp.GetCustomers())
                                        {
                                            <option value="@customer.Id">@customer.FullName</option>
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select class="form-select rentingcustomer" disabled @bind="bp.customer"></select>
                                }

                                <button type="button" class="btn rent btn-outline-primary @((!bp.processing) ? " " : "disabled")"
                                @onclick=" async ()=> await bp.RentVehicle(vehicle.Id, bp.customerId)">Rent</button>
                            }
                            else
                            {
                                <input @bind="bp._distance" type="text" class="form-control distance" placeholder="Distance" />
                                <button type="button" class="btn return btn-outline-success"
                                @onclick="() => bp.ReturnVehicle(vehicle.Id, bp._distance)">Return</button>
                            }

                        </td>
                        <td>
                            <button type="button" class="btn btn-success position-relative
                                badge border-0 rounded-pill text-bg-@(vehicle.Status.Equals(bp.vehicleStatus) ? "success" : "danger")">
                                @vehicle.Status
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!--Bookings-->
    <div class="row">
        <table class="tab2 table caption-top table-hover">
            <caption>Bookings</caption>
            <thead>
                <tr class="table-dark">
                    <th scope="col">RegNo</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Start km</th>
                    <th scope="col">Returned km</th>
                    <th scope="col">Rental Date</th>
                    <th scope="col">Return Date</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in bp.GetBookings())
                {
                    <tr>
                        <th class="fw-bold">@booking.Vehicle.RegNo</th>
                        <td>@booking.Person.FullName</td>
                        <td>
                            @if (booking.Status.Equals(bp.vehicleStatus))
                                    @booking.StartKm
                            else    @booking.Vehicle.Odometer
                        </td>
                        <td>@booking.ReturnedKm</td>
                        <td>@booking.RentalDate.ToString("dd'/'MM'/'yyyy")</td>
                        <td>@booking.ReturnDate?.ToString("dd'/'MM'/'yyyy")</td>
                        <td>@booking.Cost</td>
                        <td>
                            <button type="button" class="blue btn btn-sm position-relative
                                btn-@(booking.Status.Equals(bp.vehicleStatus) ? "success" : "primary")">
                                @(booking.Status.Equals(bp.vehicleStatus) ? "Returned" : "Open")
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
